@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="p-3 mb-2 bg-danger text-white">Velkommen til Matchmakeren</h1>
    <p>For at komme i gang kan du trykke her: <a class="btn btn-danger" asp-page="/Lommeregner/Index" role="button">Lommeregner</a></p>
</div>

<div>
    <img src="~/Images/ALandshold.jpg" class="img-fluid" alt="Det danske herre A-landshold" />

</div>
