@page
@model PrivacyModel
@{
    ViewData["Title"] = "Rettigheder og kontakt";
}
<h1>@ViewData["Title"]</h1>

<p>DBU har fået speciel tilladelse til anvendelse af dette program.
    <p>Programmets rettigheder er 100% ejet af følgende personer </p>
    <p>Kader Kivrak</p>
    <p>Lidka Østerby</p>
    <p>Mathilde Juul</p>
    <p>Nikolaj Kristensen</p>
    <p>Bjørn Kristensen, bjoe1296@edu.zealand.dk, 26 18 68 47</p>